.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid;
}
.galleryWrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.buttonWrap {
  margin-bottom: 30px;
}