.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid darkgrey;
}
.galleryWrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.buttonWrap {
  margin-bottom: 30px;
}
.topFilter {
  width: 90%;
}
.display {
  text-align: left;
  width: 90%;
  margin: 0 auto 10px auto;
}
.display span {
  font-weight: bold;
  color: dimgrey;
}
.filterButton {
  border: 3px solid dimgrey;

}