.card {
    width: 200px;
    border: 1px solid red;
}
.title {
    display: block;
    text-align: left;
}
.link {
    display: block;
    text-align: left;
}
.comments {
    display: block;
    text-align: left;
}
.card img {
    width: 100%;
}